@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
    font-family: 'Roboto';
    background: pink;
}
.inner-row{
    height: 100vh;
}
.primaryBg{
    background: pink;
}
.primaryColor{
    color: pink;
}
.form-box{
    background: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}